* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--primary-font);
}

:root {
    --primary-color: #9dcee2;
    --secondary-color: #f26a4f;
    --color-background: #fedfd4;
    --color-text: #1d1d1d;
    --color-danger: #ef3c2d;
    --color-shadow-1: #1368aa;
    --color-shadow-2: #033270;
    --color-shadow-3: #034391;
    --color-shadow-4: #cb1b16;
    --primary-font: 'Open Sans', sans-serif;
}

body {
    background-color: var(--color-background);
}

/* NavBar */
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-color);
}

nav > h1 {
    color: var(--color-shadow-2);
    margin-left: 20px;
}

.nav-link-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    display: block;
    transition: transform 0.1s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-link > a {
    color: var(--color-text);
}

.cart-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35px;
    margin-right: 20px;
    color: var(--color-shadow-3);
    font-size: 1.3rem;
}

.cart-btn-container:hover {
    color: var(--color-shadow-2);
    cursor: pointer;
}

.cart-icon {
    font-size: 1.4rem;
}

.small-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-color);
    visibility: hidden;
}

.small-navbar > h1 {
    color: var(--color-shadow-2);
    font-size: 1.2rem;
}

.nav-modal-open-btn {
    font-size: 1.8rem;
    margin-left: 10px;
    color: var(--color-shadow-3);
}

.nav-modal-open-btn:hover {
    cursor: pointer;
    color: var(--color-shadow-2);
}

.nav-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 25px;
}

.nav-modal > h1 {
    color: var(--color-shadow-2);
    font-size: 2rem;
}

.nav-modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    color: var(--color-shadow-2);
    margin: 15px 15px 0 0;
}

.nav-modal-close-btn:hover {
    cursor: pointer;
}

.nav-modal-link-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.nav-modal-link {
    display: block;
    margin: 25px 0;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color-shadow-2);
}

.nav-modal-link:hover {
    transform: scale(1.2);
}

.nav-modal-link a {
    color: var(--color-shadow-2);
}

@media screen and (max-width: 650px) {
    nav {
        visibility: hidden;
    }
    .small-navbar {
        visibility: visible;
    }
}

/* NavBar */

/* ShoesContainer */
.shoe-list-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shoe-in-list {
    margin: 10px 0;
    width: 60%;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.details-container {
    padding-left: 25px;
    width: 50%;
    height: 100%;
}

/* .details-container > h2 {
    font-size: 1.1rem;
} */

.details-container > h3 {
    /* font-size: 1rem; */
    margin: 50px 0 10px 0;
}

.details-container > button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 2px var(--color-shadow-1);
    font-size: 1.01rem;
}
.details-container > button:hover {
    cursor: pointer;
}
.button-incart {
    background-color: var(--secondary-color);
    color: var(--color-background);
}
.button-notincart {
    background-color: var(--primary-color);
    color: var(--color-text);
}

@media screen and (max-width: 800px) {
    .img-container > img {
        height: 80%;
    }

    .details-container {
        height: 80%;
    }
}

@media screen and (max-width: 600px) {
    .shoe-in-list {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .img-container {
        width: 60%;
    }
    .img-container > img {
        object-fit: contain;
    }
    .details-container {
        height: 60%;
    }
    .details-container > h2 {
        font-size: 1rem;
    }
}

/* ShoesContainer */

/* CartModal */
.cart-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #131313bb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-empty-msg {
    text-align: center;
    margin: 50px 0;
}

.cart-modal {
    width: 70%;
    background-color: var(--color-background);
    padding: 10px;
    max-height: 90%;
    overflow-y: scroll;
}

.cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--color-shadow-2);
    border-bottom: 2px solid var(--color-shadow-2);
}

.cart-close-icon {
    font-size: 1.5rem;
    margin-right: 25px;
}

.cart-close-icon:hover {
    cursor: pointer;
}

.cart-table {
    margin: 10px 0 10px 0;
}

.amount-input {
    min-width: 50px;
    padding: 0 2px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-shadow-2);
    border-top: 2px solid var(--color-shadow-2);
}

.shoe-in-cart {
    text-align: center;
}

.shoe-in-cart img {
    width: 7em;
    height: 6em;
    object-fit: cover;
}

.cart-item-rmv-btn {
    color: var(--color-text);
}
.cart-item-rmv-btn:hover {
    cursor: pointer;
}

.checkout-btn {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 25px;
    background-color: var(--primary-color);
    color: var(--color-shadow-2);
}

.checkout-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .cart-modal {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .cart-modal {
        width: 100%;
        height: 100%;
        max-width: 100%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 500px) {
    .cart-header {
        font-size: 0.7rem;
    }

    .cart-modal table {
        overflow-x: scroll;
    }

    .cart-footer {
        font-size: 0.65rem;
    }
}
/* CartModal */
